<h1>Apple Tree Farm</h1>
<hr>
<% @crops.each do |crop| %>
  
  <% @date = Date.today %> <%# I fully appreciate this is inelegant - When deploying my code to Heroku I was returning different (and incorrect) results from my local server. An expanded programme would draw from the last order made %>

  <h3>Crop: <%= crop.crop_name %></h3>
  <% @chemical = Chemical.find(crop.chemical_id) %>
  <h3><%= @chemical.name %></h3>
  <% @fields.where(crop_id: crop.id).each do |field| %>
    <% @hectarage += field.hectarage %>
    <% field.last_sprayed < @date ? @date = field.last_sprayed : @date %>
  <% end %>
  <p>Next Order:</p>
  <ul>
    <li><p>Order Date: <%= crop.next_order(@date, @chemical) %></p></li>
    <li><p>Order size: <%= @hectarage %> litres</p></li>
    <li><p>Order Price: £<%= @chemical.total_price(@chemical, @hectarage) %></p></li>
  </ul>
<hr>
<% end %>